{% extends 'pages/page.html' %}

{% block content %}

<div class="portfolio-parent">
    <section>
        <section>
            <h1 style="font-size: 3.3rem; margin: 0">Kamil Tokarski</h1>
            <p style="font-size: 1.4rem;">{{ BriefBIO | safe }}</p>
        </section>
        <section class="skills">
            <span class="pill pastel-raspberry">C++</span>
            <span class="pill pastel-indigo">UnrealEngine</span>
            <span class="pill pastel-sky-blue">{{ "Blueprints" | get_ttext }}</span>
            <span class="pill pastel-mint-green">{{ "GameplayAI" | get_ttext }}</span>
            <span class="pill pastel-tangerine">{{ "Algorithms" | get_ttext }}</span>
            <span class="pill pastel-yellow">Python</span>
        </section>
        <section class="find">
            <h2>{{ FIND_ME }}</h2>
            <div  style="display: flex; justify-content: space-between; align-items: center; max-width: 90%;">
                <span class="pill github"><a href="https://github.com/ktxyz" target="_blank"><img class="small-icon" src="/static/imgs/github.png"></a></span>
                <span class="pill linked-in"><a href="https://www.linkedin.com/in/ktxyz/" target="_blank"><img class="small-icon" src="/static/imgs/linkedin.webp"></a></span>
            </div>
        </section>
    </section>
    <section>
        {% for work in WORKS %}
            {% include 'pages/portfolio/work.html' %}
        {% endfor %}
    </section>
</div>
{% endblock %}

{% block page_scripts %}
<noscript>
    <style>
        .dropdown {
            max-height: 100% !important;
            max-height: fit-content !important;
        }
        .dropdown-anchor {
            display: none !important;
        }
    </style>
</noscript>
<script src="/static/scripts/dropdown.js"></script>
{% endblock %}
