{% extends 'pages/page.html' %}

{% block nav_site %}
{% endblock %}

{% block custom_css %}
<style>
    .simple-border {
        border: 1px solid black;
        padding: 1rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="cv-parent simple-border" style="max-width: 800px;">
    <section id="about" class="simple-border">
        <h1>Kamil Tokarski</h1>
        <section class="skills">
            <span class="pill">C++</span>
            <span class="pill">{{ "Algorithms" | get_ttext }}</span>
            <span class="pill">UnrealEngine</span>
            <span class="pill">{{ "GameplayAI" | get_ttext }}</span>
            <span class="pill">{{ "Blueprints" | get_ttext }}</span>
            <span class="pill">Python</span>
        </section>
        <section id="trivia">
            <span style="display: flex; justify-content: center; align-items: center;">
                Top 0.5% of <a href="https://www.codewars.com/users/ktxyz"><img style="margin: 1rem;" src="https://www.codewars.com/users/ktxyz/badges/small" alt="codewars badge"></a> users
            </span>
        </section>
    </section>
    <section id="career" class="simple-border">
        <h1>{{ _ROLES | get_ttext }}</h1>
        {% for job in WORKS %}
        <section style="display: flex; justify-content: space-between; align-items: center;">
            <h4>{{ job.company | get_ttext }}</h4>
            <section>
                <h3>{{ job.role | get_ttext }}</h3>
                <h4 style="text-align: right;">{{ job.time }} ({{ job.duration | get_ttext }})</h4>
            </section>
        </section>
        {% endfor %}
    </section>
    <section id="projects" class="simple-border">
        <h1>{{ _PROJECTS | get_ttext }}</h1>
        {% for project in PROJECTS %}
        <section>
            <h3>{{ project.name }} - <a href="{{project.link}}">{{ _LINK | get_ttext }}</a></h3>
            <h5>{{ project.desc | get_ttext }}</h5>
        </section>
        {% endfor %}
    </section>
</div>
{% endblock %}