<!DOCTYPE html>
<html lang="{{ _LANG }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>{% block title %}{{ _CONFIG.site_name }}{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header>
        <nav>
            {% include '_layout/nav.html' %}
        </nav>
    </header>
    {% endblock %}
    {% block main %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% endblock %}
    {% block footer %}
    <footer>
        {% include '_layout/footer.html' %}
    </footer>
    {% endblock %}

    {% block scripts %}
        {% block base_scripts %}
        {% endblock %}
        {% block page_scripts %}
        {% endblock %}
    {% endblock %}
</body>
</html>