<ul>
    {% for element in _SITE_MAP.elements.values() %}
        {% if element.type.value == 0 %}
            <li><a 
                {% if element.is_active %}
                    class="active"
                {% endif %}
                {% set element_args = {'lang': _LANG, 'element': element} %}
                href="{{ element_args|get_element_lang_url }}">{{ element|get_element_name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<ul>
    {% for lang in _CONFIG.site_languages %}
        {% set lang_args = {'lang': lang, 'element': _ELEMENT} %}
        <li><a 
            {% if lang == _LANG %}
                class="active"
            {% endif %}
            href="{{ lang_args|get_element_lang_url }}">{{ lang }}</a></li>
    {% endfor %}
</ul>